@media screen and (min-width: 500px) {
    .something .thoughts p{
        font-size: 14px;
        line-height: 20px;
    }
    
   
     .wordFromYoungMinds h2, .answer h2, .testimonials h2 {
        font-size: 22px;
    }
    .wordFromYoungMinds h4{
       font-size: 14px; 
    }
    .aboutDOM{
        max-width: 1200px;
    }
    
}
@media screen and (min-width: 600px){
    .testimonials .icons{
        display: none;
    }
    .testimonials .btnDOM{
        display: none;
    }
    .something{
        justify-content: space-evenly;
    }
    .reviewsBox{
        display: none;
    }
    .newReviewsBox{
        display: flex;
    }
    .something .thoughts p{
        font-size: 16px;
        line-height: 20px;
    }
    .presidentDetails .imgBox{
        width: 150px;
        height: 150px;
    }
     .wordFromYoungMinds h2, .answer h2, .testimonials h2 {
        font-size: 2rem;
    }
     .wordFromYoungMinds h4{
        font-size: 1.4rem; 
    }
     .answer .logo p{
        font-size: 14px;
    }
     .studentCount{
        max-width: 600px;
        margin: auto;
    }
    .testimonials .icons{
        max-width: 500px;
        position: static;
        margin: auto;
    }
}

@media screen and (min-width: 750px){

    .something .thoughts p{
        font-size: 18px;
        line-height: 28px;
    }    
    .presidentDetails .imgBox{
        width: 180px;
        height: 180px;
    }
    .thoughts .socialMediaIcons li{
        font-size: 20px;
        width: 40px;
        height: 40px;
    }
    .answer .logo p{
        font-size: 16px;
        padding: 0 50px;
    }
  
    
}
@media screen and (min-width: 850px){
    .answer .logo img{
        width: 160px;
        height: 140px;
    }
}
@media screen and (min-width: 940px){
    .answer .logo p{
        font-size: 18px;
        padding: 0 70px;
    }
   
    .wordFromYoungMinds h2, .answer h2, .testimonials h2 {
        letter-spacing: 0.3rem;
    }
}